<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @bar.age %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @bar.owner %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
